*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(212, 40, 40);
}
.nav-container > img{
    height: 50px;
    width: 50px;
}
.nav-container > ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container > img {
    margin: 5px;
    border-radius: 5px;
}
.list-item{
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}
.cover{
    background-image: url("images/cover.jpg"), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3));
    height: 100vh;
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-title{
    font-size: 50px;
    font-weight: 800;
    color: rgb(221, 220, 220);
}
.title{
    color:rgb(209, 5, 5);
}
.cover-description{
    color: rgb(221, 220, 220);
    width: 500px;
    font-size: medium;
    font-weight: 200;
    margin:20px 0px;
}
.primary-btn{
    background-color: rgb(209, 5, 5);
    padding: 10px 25px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px;

}
.btn{
    color: rgb(209, 5, 5) ;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px;
}
/* service part here */
.service-continer{
    background-image: url("images/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* first part blog here */
.blog{
    margin-left: 30px;
}
.blog > ol{
    padding-left: 15px;
}
.blog-title{
    font-size: 30px;
    color: rgb(221, 220, 220);
    margin-top: 15px;
}
.woner-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
.woner-container >h5{
    color: rgb(221, 220, 220);
    font-size: 15px;
    font-weight: 400;
    margin-right: 80px;
}
.woner-container{
    display: flex;
    justify-content:left;
    align-items: center;
    
}
.woner-name{
    font-size: 20px;
    font-weight: 500;
    color: rgb(209, 5, 5);
}

/* services second part here */
.service-image{
    height: 70px;
    width: 70px;
    background-color: white;
    margin: 10px;
    padding: 70px;
    border-radius: 5px;
}
.services{
    display: flex;
    justify-content: center;
    align-items: left;
}
/* services section ends here */
/* call section start here */
.call-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgb(209, 5, 5);
    color: rgb(221, 220, 220);
    height:100px;
    border-radius: 10px;
    margin-top: -30px;
}
.call-image{
    height: 60px;
    width: 60px;
}
.call-description{
    width: 350px;
}
.num{
    font-size: large;
    margin-top: 65px;
}
/* box start here */
.box-container{
    width: 90%;
    margin: auto;
    background-color: gray;
    margin-top:60px;
    margin-bottom: 40px;
    height: 90vh;
}
.box-container-title{
    font-size: 50px;
    font-weight: 800;
    color: rgb(221, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.box-image{
    height: 150px;
    width:200px;
    border-radius: 5px;
}
.blog-box{
    width: 200px;
    height: 350px;
    text-align: center;
    background-color: rgb(36, 9, 9);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(94, 40, 40);
    cursor: pointer;
}
.all-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.box-title{
    color: white;
    font-size: 30px;
}
.box-container-color{
    color: rgb(209, 5, 5);
    margin-right: 10px;
}
.box-description{
    color: rgb(221, 220, 220);
    text-align: left;
    margin: 10px;
}
/* footer start here */
.footer-container{
    background-color: rgb(3, 0, 0);
    height: 70vh;
    color: rgb(221, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-main{
    text-align: center;
    background-color: rgb(3, 0, 0);
    color: white;
    padding: 20px 0px;
}
.footer-blogs > img{
    height: 50px;
    width: 50px;
    border-radius:10px ;
}
.footer-blogs{
    width: 350px;
}
.footer-description{
    font-size: medium;
    font-weight: bold;
    margin-top: 15px;
}
/* footer nav */
.footer-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    margin: 0px 25px;
}
.nav-item-list{
    list-style: none;
    padding: 10px 0px;
}
.footer-copy{
    padding-top: 10px;
}